# fly.toml app configuration file generated for fenmo-expense-tracker on 2026-02-04T13:08:29+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fenmo-expense-tracker'
primary_region = 'bom'

[build]
  dockerfile = 'Dockerfile'

[env]
  DB_PATH = '/data/expenses.db'
  NODE_ENV = 'production'
  PORT = '3001'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
